/* */
* {
    font-family: "Arial Narrow";
    box-sizing: border-box;
    margin: 0;
}

/*----Barra navegadora----*/
.nav {
    background-color: #333333;
    flex: 0 0 100%;
    display: flex;
    margin-bottom: 20px;
    color: #fbfbfb;
    height: 100px;
    overflow: hidden;

}

#nav-perfil {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 25px;
}

.menu ul {
    list-style-type: none;
    margin-top: 40px;

    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    margin-top: 40px;
    display: inline;
    margin-right: 10px;
    font-weight: bold;
}

.pagina {
    font-size: 30px;
}

.menu {
    margin-left: 800px;
    display: flex;
    flex: 33% 33% 33%;
}

.inicio {
    margin-right: 15px;
    font-size: 20px;
}

.miperfil {
    font-size: 20px;
    margin-right: 15px;
}

.encontar_conexiones {
    font-size: 20px;
    margin-right: 15px;
}

.boton {
    margin-top: 30px;
    color: #fbfbfb;
    background-color: #00bcd4;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
}

/* Columna 1 y 2*/
.row {
    display: flex;
}

.columna {
    flex: 50%;
}

/*----Tarjeta de perfil----*/
.tarjeta {
    display: flexbox;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.container-tarjeta {
    width: 640px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
}

.header-tarjeta {
    height: 100px;
    background-color: #00bcd4;
}

.img_perfil {
    margin-top: -50px;
    margin-right: 600px;

}

.img_perfil img {
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
    border-color: #ffffff;
    border-width: 2.5px;
    border-style: solid;
    margin-left: 25px;
}

.perfil p {
    margin-left: 20px;
}

#name {
    font-weight: bold;
    font-family: Verdana;
    margin-right: 400px;
    padding: 5px;
    color: #333333;
    text-align: justify;
    justify-content: left;
    text-justify: inter-word;
}

#location {

    margin-right: 400px;
    padding: 5px;
    color: #666666;
    text-align: justify;
    justify-content: left;
    text-justify: inter-word;
}

#job {
    margin-right: 400px;
    padding: 5px;
    color: #6d6b6e;
    text-align: justify;
    justify-content: left;
    text-justify: inter-word;
}

#desc {
    color: #898d91;
    text-align: justify;
    justify-content: left;
    text-justify: inter-word;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 40px;
}

.edit {
    background-color: transparent;
    color: #00bcd4;
    border-style: none;
    margin-right: 480px;
    margin-bottom: 5px;
}

.material-icons {
    color: #00bcd4;
    align-items: center;
}
.edit{
    cursor: pointer;
}

/* Educacion */
.educacion {
    display: flexbox;
    margin-top: 20px;
    margin-left: 20px;
}

.Education {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
}

.educacion-container {
    width: 640px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;

}

.educacion-container p {
    margin-top: 20px;
    margin-left: 20px;
    text-align: justify;
    justify-content: left;
    text-justify: inter-word;
    color: #333333;

}

/* Solicitudes */
.solicitudes {
    display: flexbox;
    margin-top: 20px;

}

.solicitudes-container {
    width: 640px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
}
/* Titulo */
#s-conexiones {
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}
.solicitud{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;
    padding: 15px;
}

.solicitud img{
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin-right: 10px;
    border-color: #00bcd4;
    border-width: 2px;
    border-style: solid;
}

/* Botones*/
.action{
    margin-left: 20px;
}
.action button{
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    border-color: red;
    color: red;
    border-width: 2px;
    padding: 15px 20px;
    margin-left: 15px;

}
#aceptar{
    margin-right: 20px;
}

/* Conexiones */
.conexiones {
    display: flexbox;
    margin-top: 20px;
}

.conexiones-titulo {
    font-weight: bold;
    font-size: larger;
}

.conexiones-container {
    width: 640px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;

}

.personas img {
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
    border-color: #333333;
    border-style: solid;
    border-width: 2px;
    margin-right: 10px; 
    
}
.personas{
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}
.conexiones ul{
    list-style: none;
}
.personas li{
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}